@tailwind base;

@tailwind components;

@tailwind utilities;

button.svelte-1k3ojqm{height:2.5rem;width:8rem;border-radius:0.375rem;border-style:none;--tw-bg-opacity:1;background-color:rgb(34 197 94 / var(--tw-bg-opacity));--tw-shadow:0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);--tw-shadow-colored:0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);transition-property:all;transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);transition-duration:150ms
}@media(min-width: 768px){button.svelte-1k3ojqm{height:5rem
    }button.svelte-1k3ojqm{width:15rem
    }}button.svelte-1k3ojqm{font-size:1.25rem;line-height:1.75rem
}button.svelte-1k3ojqm:hover{--tw-bg-opacity:1;background-color:rgb(239 68 68 / var(--tw-bg-opacity))
}button.svelte-1k3ojqm:disabled{--tw-bg-opacity:1;background-color:rgb(100 116 139 / var(--tw-bg-opacity))
}.raised.svelte-1k3ojqm{z-index:20
}
section.svelte-985kbz{position:fixed;top:0px;left:0px;z-index:10;display:flex;height:100%;width:100%;background-color:rgb(100 116 139 / var(--tw-bg-opacity));--tw-bg-opacity:0.5
}h2.svelte-985kbz{margin:auto
}div.svelte-985kbz{position:relative;margin:auto;display:flex;aspect-ratio:1 / 1;height:66.666667%;flex-direction:column;--tw-bg-opacity:1;background-color:rgb(168 85 247 / var(--tw-bg-opacity));border-radius:0.5rem;--tw-shadow:0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);--tw-shadow-colored:0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}canvas.svelte-985kbz{position:absolute;height:100%;width:100%
}
svg.svelte-1rwmh4y{height:2.5rem;width:2.5rem
}@media(min-width: 768px){svg.svelte-1rwmh4y{height:5rem
    }svg.svelte-1rwmh4y{width:5rem
    }}svg.svelte-1rwmh4y{cursor:pointer;border-radius:0.375rem;--tw-bg-opacity:1;background-color:rgb(34 197 94 / var(--tw-bg-opacity));--tw-shadow:0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);--tw-shadow-colored:0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}.inactive.svelte-1rwmh4y{cursor:default;--tw-bg-opacity:1;background-color:rgb(100 116 139 / var(--tw-bg-opacity))
}
svg.svelte-13p3snp{height:2.5rem;width:2.5rem}@media(min-width: 768px){svg.svelte-13p3snp{height:5rem}svg.svelte-13p3snp{width:5rem}}svg.svelte-13p3snp{cursor:pointer;border-radius:0.375rem;--tw-bg-opacity:1;background-color:rgb(34 197 94 / var(--tw-bg-opacity));--tw-shadow:0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);--tw-shadow-colored:0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)}.inactive.svelte-13p3snp{cursor:default;--tw-bg-opacity:1;background-color:rgb(100 116 139 / var(--tw-bg-opacity))}.forwards.svelte-13p3snp{transform:scaleX(-1)}
button.svelte-e36ntl{height:2.5rem;width:2.5rem;border-radius:0.375rem;font-size:1.5rem;line-height:2rem
}@media(min-width: 768px){button.svelte-e36ntl{height:5rem
    }button.svelte-e36ntl{width:5rem
    }button.svelte-e36ntl{font-size:1.875rem;line-height:2.25rem
    }}button.svelte-e36ntl{--tw-bg-opacity:1;background-color:rgb(100 116 139 / var(--tw-bg-opacity))
}.selected.svelte-e36ntl{--tw-bg-opacity:1;background-color:rgb(34 197 94 / var(--tw-bg-opacity))
}
svg.svelte-19c9368{height:2.5rem;width:2.5rem
}@media(min-width: 768px){svg.svelte-19c9368{height:5rem
    }svg.svelte-19c9368{width:5rem
    }}svg.svelte-19c9368{cursor:pointer;border-radius:0.375rem;--tw-bg-opacity:1;background-color:rgb(34 197 94 / var(--tw-bg-opacity));--tw-shadow:0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);--tw-shadow-colored:0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}.inactive.svelte-19c9368{--tw-bg-opacity:1;background-color:rgb(100 116 139 / var(--tw-bg-opacity))
}
section.svelte-1rh762d{display:flex;flex-direction:column
}.history.svelte-1rh762d{margin-left:auto;margin-right:auto;display:flex
}.numbers.svelte-1rh762d{margin-bottom:0.5rem;display:flex;flex-direction:row
}@media(min-width: 768px){.numbers.svelte-1rh762d{margin-left:auto;margin-right:auto
    }}.numbers button{margin-left:0.25rem;margin-right:0.25rem
}.history *{margin-left:0.25rem;margin-right:0.25rem
}
div.svelte-h7yzft{font-size:0.5rem;position:absolute;z-index:-10;display:grid;grid-template-columns:repeat(3, minmax(0, 1fr));aspect-ratio:1 / 1;height:2.5rem;width:2.5rem;padding:0px
}@media(min-width: 768px){div.svelte-h7yzft{height:5rem
    }div.svelte-h7yzft{width:5rem
    }div.svelte-h7yzft{font-size:0.875rem;line-height:1.25rem
    }}div.svelte-h7yzft{place-items:center
}
input[type="number"].svelte-1vunupq{margin:0px;border-radius:0px;--tw-bg-opacity:0;padding:0px;text-align:center;--tw-text-opacity:1;color:rgb(126 34 206 / var(--tw-text-opacity));transition-property:all;transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);transition-duration:150ms}input[type="number"].svelte-1vunupq:focus{background-color:rgb(168 85 247 / var(--tw-bg-opacity));--tw-bg-opacity:0.5;--tw-text-opacity:1;color:rgb(0 0 0 / var(--tw-text-opacity));outline:2px solid transparent;outline-offset:2px}input.svelte-1vunupq::-webkit-outer-spin-button,input.svelte-1vunupq::-webkit-inner-spin-button{-webkit-appearance:none;margin:0}input[type="number"].svelte-1vunupq{-moz-appearance:textfield}
.puzzleGrid.svelte-2pft87{margin:auto;display:inline-grid;flex:0 1 auto;grid-template-columns:repeat(9, minmax(0, 1fr));border-radius:0.375rem;--tw-bg-opacity:0;--tw-shadow:0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);--tw-shadow-colored:0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}.puzzlePiece{aspect-ratio:1 / 1;height:2.5rem;width:2.5rem;padding:0px;font-size:1.5rem;line-height:2rem
}@media(min-width: 768px){.puzzlePiece{font-size:1.875rem;line-height:2.25rem
    }}.puzzlePiece{display:flex;place-content:center;border-width:1px;border-style:solid;--tw-border-opacity:1;border-color:rgb(0 0 0 / var(--tw-border-opacity));--tw-bg-opacity:1;background-color:rgb(255 255 255 / var(--tw-bg-opacity))
}@media(min-width: 768px){.puzzlePiece{height:5rem
    }.puzzlePiece{width:5rem
    }}.conflict p, .conflict{--tw-text-opacity:1 !important;color:rgb(220 38 38 / var(--tw-text-opacity)) !important
}p.svelte-2pft87{margin:auto;padding:0px
}.rowDivider{border-bottom-width:4px
}.colDivider{border-right-width:4px
}.topRow{border-top-width:4px
}.firstCol{border-left-width:4px
}.topR, .topR p{border-top-right-radius:0.375rem !important
}.topL, .topL p{border-top-left-radius:0.375rem !important
}.botR, .botR p{border-bottom-right-radius:0.375rem !important
}.botL, .botL p{border-bottom-left-radius:0.375rem !important
}
div.svelte-4x9951{margin:auto;display:flex
}p.svelte-4x9951{margin:auto
}@-webkit-keyframes svelte-4x9951-bounce{0%,100%{transform:translateY(-25%);-webkit-animation-timing-function:cubic-bezier(0.8,0,1,1);animation-timing-function:cubic-bezier(0.8,0,1,1)
    }50%{transform:none;-webkit-animation-timing-function:cubic-bezier(0,0,0.2,1);animation-timing-function:cubic-bezier(0,0,0.2,1)
    }}@keyframes svelte-4x9951-bounce{0%,100%{transform:translateY(-25%);-webkit-animation-timing-function:cubic-bezier(0.8,0,1,1);animation-timing-function:cubic-bezier(0.8,0,1,1)
    }50%{transform:none;-webkit-animation-timing-function:cubic-bezier(0,0,0.2,1);animation-timing-function:cubic-bezier(0,0,0.2,1)
    }}p.svelte-4x9951{-webkit-animation:svelte-4x9951-bounce 1s infinite;animation:svelte-4x9951-bounce 1s infinite;font-size:2.25rem;line-height:2.5rem
}@-webkit-keyframes svelte-4x9951-pulse{50%{opacity:.5
    }}@keyframes svelte-4x9951-pulse{50%{opacity:.5
    }}span.svelte-4x9951{-webkit-animation:svelte-4x9951-pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;animation:svelte-4x9951-pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite
}
section.svelte-1rsnsjj{display:flex;height:100%;flex-direction:column;place-content:space-around
}
html, body{position:fixed;margin:0px;height:100%;width:100%;padding:0px
}*, *::after, *::before{box-sizing:border-box
}section.svelte-njojlq{position:fixed;margin:0px;display:flex;height:100%;width:100%;flex-direction:column;padding:0px
}h1.svelte-njojlq{margin:0px;--tw-bg-opacity:1;background-color:rgb(168 85 247 / var(--tw-bg-opacity));padding:1rem;text-align:right;font-size:1.875rem;line-height:2.25rem
}
